<!DOCTYPE html>
<html  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tela de Login</title>

<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /> -->

  <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<form method="POST" action="/produto/login">

Usuário: <input type="text" name="username"> 


Senha: <input type="password" name="password"> 


<input type="submit" value="Logar">



</form>

</body>
</html>